*{
  margin: 0px;
  padding: 0px;
}
header{
  max-height: 90px;
  background-color: #2699FB;
  justify-content: space-between;
  align-items: center;
}
.logo{
  cursor: pointer;
  margin-top: 10px;
  padding-left: 10px;
}
.sim{
  position: relative;
  left: 5px;
  top:-25px;
  color: white;
  font-weight: bold;
}

.nav-area{
  position: relative;
  top: -50px;
  padding-left: 200px;
  list-style: none;
}
.nav-area li{
  display: inline-block;
  padding: 0px 15px;
  
}

a{
  text-decoration: none;
  color: white;
}
.type{
  top: -60px;
  margin-bottom: 500px;
  margin-left: 1100px;
  padding: 5px;
  font-weight: bold;
  font-size: small;
  position: relative;
  color: #2699FB;
  background-color: white;
  border-radius: 50px;
}
.notif{
  width: 25px;
  position: relative;
  left: 1090px;
  top: -11px;
}
.person{
  width: 25px;
  position: relative;
  left: 1130px;
  top: -14px;
}