body {
  
  font-weight: 400;
  background: white;
  color: #555;
}

.profHeader {
  font-weight: 900;
  font-size: 300%;
  text-align: center;
  margin-top: 4rem;
  color: #4CAAFB;
  line-height: 1.2;
}

hr{

  height: 3px;

  color: #4CAAFB;

  background-color: #2790ce;
}

.profimg{

  float: left;
  margin-right: 200px;
  margin-left: 200px;
  height: 50%;
}

.profHeader span {
  padding: 5px 15px;
  background: "white";
}

.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin: 4rem auto;
  max-width: 90%;

}

.dictionary > .term {
  text-align: center;
  max-width: 20rem;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #BED2DF;
  transition: all 100ms ease-in-out;
 
}

.dictionary > .term > dt {
  margin-bottom: 1rem;
}

dt {
  color: #4CAAFB;
  line-height: 1;
}

dt span {
  font-size: 200%;
  font-weight: 900;
}

.emoji {
  margin: 0 auto 20px;
  display: block;
  font-size: 400%;
}

dd {
  font-size: 92.5%;
  margin-left: 0;
}

dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}

dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}

dd dl .term {
  margin-bottom: 1rem;
}
